DISCORD_BOT_TOKEN=""
BACKEND_API_URL="http://localhost:4000/api"
BACKEND_SOCKET_URL="http://localhost:4000"
BOT_API_TOKEN="change-this-shared-token"
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
TWITCH_MONITOR_INTERVAL_MS="300000"
